.c-font-normal {
  font: 14px/24px Arial, Helvetica, sans-serif;
}

.c-font-medium {
  font: 16px/26px Arial, Helvetica, sans-serif;
}

.c-font-big {
  font: 18px/28px Arial, Helvetica, sans-serif;
}

.c-font-20 {
  font: 20px/30px Arial, Helvetica, sans-serif;
}

.c-font-small {
  font: 12px/22px Arial, Helvetica, sans-serif;
}

.c-bold {
  font-weight: bold;
}
